# Dependencias de Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Archivos de base de datos
*.sqlite3

# Archivos de registro
*.log

# Archivos de configuración local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de compilación
*.pyc
*.pyo
*.pyd

# Directorios de entorno virtual
venv/
.venv/
