# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Entornos
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y bases de datos
*.log
*.sqlite3
